:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
}

form {
  width: 70%;
  display: flex;
  flex-direction: column;
}

button {
  align-self: flex-end;
  width: 20%;
}