<h2>Comments</h2>
<mat-card *ngFor="let comment of comments">
  <mat-card-title>{{ comment.name }}</mat-card-title>
  <mat-card-content>
    <p>{{ comment.email }}</p>
    <p>{{ comment.body }}</p>
  </mat-card-content>
</mat-card>