<form [formGroup]="editForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="fill">
    <mat-label>Title</mat-label>
    <input matInput formControlName="title">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Body of post</mat-label>
    <textarea matInput formControlName="body"></textarea>
  </mat-form-field>

  <button mat-stroked-button type="submit">Update</button>
</form>