<mat-card *ngFor="let post of posts" (click)="toPost(post)">
  <mat-card-title>{{post.title}}</mat-card-title>
  <mat-card-content>
    <p>{{ post.body }}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-mini-fab color="warn" aria-label="Delete" (click)="onDelete(post.id)">
      <mat-icon aria-hidden="false">delete</mat-icon>
    </button>
    <button mat-mini-fab color="primary" aria-label="Edit" (click)="onEdit(post)">
      <mat-icon aria-hidden="false">edit</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>

<mat-paginator [length]="postLength"
              [pageSize]="pageSize"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page"
              (page)="OnPageChange($event)">
</mat-paginator>