<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h1>Simple posts</h1>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button [routerLink]="'/posts'"> Posts </a>
      <a mat-button [routerLink]="'/posts-create'"> Create post </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
